@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lobster', cursive;
    background-color: #1C1C1E;
   display: flex;
   flex-direction: column;
   align-items: center;
    .title{ 
        color: white;
        text-align: center;
        font-size: 100px;
        margin: 20px;
    }
.count-box{
    width: auto;
    max-width: 300px;
    margin: auto;
    position: relative;
    svg{
        transform: scaleX(-1) rotate(-90deg);
        .circle{
            transition: stroke-dashoffset 1s ease;
        }
    }
    .count{
        font-size: 50px;
        position: absolute;
        color: white;
        top: 40%;
        left: 30%;
        text-align: center;
    }
}
.button-section{

display: flex;
flex-direction: row;
justify-content: center;
.button-modif{
    font-family: 'Lobster', cursive;
    border: 2px solid  whitesmoke;
    font-size: 12px;
    font-weight: 900;
    width: 60px;
    height: 25px;
    border-radius: 25px;
    background: none;
    transition: background-color 1s ease;
    margin: 15px;
    color: white;
    &:hover{
        color: #1C1C1E;
        background-color: whitesmoke ;
    }
}
}
.restart{
    background-color: #1C1C1E;
    position: absolute;
    width: 100% ;
    height: 60% ;
    top: 50;
    left: -150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-direction: row;
    justify-content: center ;
    z-index: 2;
    transition: left 2s ease-in;
    button{
        font-family: 'Lobster', cursive; 
        border: 2px solid  whitesmoke;
        font-size: 12px;       
        font-weight: 900;
        width: 60px;
        height: 25px;
        border-radius: 25px;
        background: none;
        transition: background-color 1s ease;
        margin: 15px;
        color: white;
        &:hover{
            color: #1C1C1E;
            background-color: whitesmoke ;
        }
    }
}
}