body {
    background: #003B4A;
    @import "partials/header";
    @import "partials/project";
    color: white;
    height: 100%;
a {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black
}
}

